<nav class="reed-nav navbar navbar-default">
    <div class="reed-nav-container-fluid container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="reed-brand navbar-brand" href="#">Reed</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- <ul class="nav navbar-nav">
                <li><a href="#">Link</a></li>
            </ul> -->

            <ul class="nav navbar-nav navbar-right">
                <li><a class="reed-nav-link" ui-sref="login">Login</a></li>
                <li><a class="reed-nav-link" ui-sref="signup">Signup</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="signup-view">
    <center>

        <form class="auth-form" ng-submit="$ctrl.signup($event)">
            <input ng-model="$ctrl.username" class="reed-input login-input" type="text" name="username" placeholder="Username">
            <input ng-model="$ctrl.password" class="reed-input login-input" type="password" name="password" placeholder="Password">
            <input ng-model="$ctrl.password2" class="reed-input login-input" type="password" name="password" placeholder="Re-type password">
            <input id="signupButton" type="submit" value="Sign up">
        </form>

        <button ng-click="$ctrl.downloadExtension()" id="downloadExtensionButton">Download Extension</button>
        <p ng-if="$ctrl.error" id="signupErrorMessage">{{$ctrl.errorMessage}}</p>
    </center>
</div>
