<nav class="reed-nav navbar navbar-default">
    <div class="reed-nav-container-fluid container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="reed-brand navbar-brand" href="#">Reed</a>
        </div>


        <div class="collapse navbar-collapse reed-navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- <ul class="nav navbar-nav">
                <li><a href="#">Link</a></li>
            </ul> -->
            <ul class="nav navbar-nav navbar-right">
                <li><a class="reed-nav-link" ui-sref="dashboard">Feed</a></li>
                <li><a class="reed-nav-link" ui-sref="create">Create</a></li>
                <li><a class="reed-nav-link" ui-sref="search">Search</a></li>
                <li><a class="reed-nav-link" ui-sref="logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="search-view">
    <input id="searchInput" type="text" name="search" ng-model="$ctrl.searchQuery" ng-change="$ctrl.searchForUsers()" placeholder="Search">

    <div class="search-results">

        <center>
            <p id="noResultsMessage" ng-if="$ctrl.searchQuery.length > 0 && ($ctrl.allUsers | filter: $ctrl.searchQuery).length === 0">No results.</p>
        </center>

        <!--  ng-if="$ctrl.searchQuery.length > 0"  -->
        <div ng-click="$ctrl.goToProfile(user)" class="search-results-banner" ng-repeat="user in $ctrl.allUsers | filter: $ctrl.searchQuery | limitTo : 15 ">
            <p>@{{user.name}}</p>
        </div>
    </div>
</div>
