.profile-view {
    padding: 10px 40px 40px 40px;
}

.self-profile-view {
    margin-bottom: 30px;
}

.profile-header {
    font-size: 23px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background-color: #FBFBFB;
    color:#434343;
    display: inline;
    padding-top:13px;
    padding-bottom:18px;
    padding-left: 18px;
    padding-right: 40px;
}

.profile-top-bar {
    width: 100%;
    margin-bottom: 50px;
}

.profile-follow-bar {
    padding-right:20px;
}


#followButton{
    margin-right:20px;
    float: right;
}


.profile-current-list {
    border-left:1px solid #F8F8F8;
}

#currentListHeader {
    font-size: 17px;
}

#currentListHeader > i{
    margin-right:7px;
}

.create-page-view {
    padding:0 20px 20px 20px;
}

#createListForm > .create-input {
    max-width: 600px;
    display: block;
}

#clearArticlesButton {

}

#addArticleButtonSelfProfile {
    margin-bottom: 10px;
}

#submitArticleButton {
    text-align: left;
    padding-left: 15px;
    height: 40px;
    width: 100%;
    max-width: 800px;
    background-color: #FFF;
    border: solid 1px #4E56EE;
    outline: none;
}

.reed-current-list-item {
    width: 100%;
    padding:15px;
}

.reed-current-list-item > .reed-list-item-title {
    font-size: 16px;
}
