<nav class="reed-nav navbar navbar-default">
    <div class="reed-nav-container-fluid container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="reed-brand navbar-brand" href="#">Reed</a>
        </div>


        <div class="collapse navbar-collapse reed-navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- <ul class="nav navbar-nav">
                <li><a href="#">Link</a></li>
            </ul> -->
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="$ctrl.isLoggedIn"><a class="reed-nav-link" ui-sref="dashboard">Feed</a></li>
                <li ng-if="$ctrl.isLoggedIn"><a class="reed-nav-link" ui-sref="notifications">Notifications</a></li>
                <li ng-if="$ctrl.isLoggedIn"><a class="reed-nav-link" ui-sref="profile({userId: $ctrl.handle })">Profile</a></li>
                <li ng-if="$ctrl.isLoggedIn"><a class="reed-nav-link" ui-sref="search">Search</a></li>
                <li ng-if="$ctrl.isLoggedIn"><a class="reed-nav-link" ui-sref="logout">Logout</a></li>

                <li ng-if="!$ctrl.isLoggedIn"><a class="reed-nav-link" ui-sref="login">Login</a></li>
                <li ng-if="!$ctrl.isLoggedIn"><a class="reed-nav-link" ui-sref="signup">Signup</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="profile-view">

    <div class="profile-top-bar">
        <h1 class="profile-header">{{$ctrl.profileUser.username}}</h1>

        <button ng-if="!$ctrl.profileIsCurrentUser && $ctrl.followButtonShow" ng-click="$ctrl.requestFollow()" class="reed-btn reed-btn-heavy-click" id="followButton" type="button" name="button">Follow  <i class="icon ion-android-add-circle"></i></button>
        <button ng-if="!$ctrl.profileIsCurrentUser && $ctrl.followRequestedShow" class="reed-btn" id="followRequestedButton" type="button" name="button">Follow Requested</button>
        <button ng-if="!$ctrl.profileIsCurrentUser && $ctrl.unfollowButtonShow" ng-click="$ctrl.unfollowUser()" class="reed-btn reed-btn-heavy-click" id="followButton" type="button" name="button">Unfollow <i class="icon ion-ios-minus"></i></button>



        <button  ng-if="$ctrl.profileIsCurrentUser" ng-click="$ctrl.clearArticles()" id="clearArticlesButton" class="reed-btn" type="button" name="button">Clear articles <i class="icon ion-ios-trash"></i></button>
    </div>

    <!-- User's own profile view -->
    <div ng-if="$ctrl.profileIsCurrentUser" class="self-profile-view">
        <button ng-if="!$ctrl.addingArticle"  ng-click="$ctrl.toggleAddArticle()" id="addArticleButtonSelfProfile" class="reed-btn" type="button" name="button">Add a new article <i class="icon ion-android-add-circle"></i></button>
        <button ng-if="$ctrl.addingArticle"  ng-click="$ctrl.toggleAddArticle()" id="addArticleButtonSelfProfile" class="reed-btn" type="button" name="button">Nevermind <i class="icon ion-minus-circled"></i></button>


        <div ng-if="$ctrl.addingArticle" class="create-page-view">
            <form id="createListForm" class="reed-form" ng-submit="$ctrl.submitList($event)">
                <input ng-model="$ctrl.articleTitle" class="reed-input create-input" type="text" name="articleTitle" placeholder="Article title">
                <input ng-model="$ctrl.articleLink" class="reed-input create-input" type="text" name="articleLink" placeholder="Article link">
                <textarea ng-model="$ctrl.articleDescription" class="reed-textarea create-input" name="articleDes" placeholder="Article description (if any)"></textarea>

                <button id="submitArticleButton" type="submit">Add article to profile </button>
            </form>
        </div>
    </div>


    <!-- User's current list -->
    <div class="profile-current-list">
        <div class="reed-banner">
            <h1 id="currentListHeader"><i class="icon ion-ios-book"></i> Today's Reading List</h1>
        </div>

        <p id="noArticlesMessage" ng-if="$ctrl.profileList.articles.length === 0">There will be some articles here someday, just you wait. <i id="noArticlesIcon" class="em em-seedling"></i></p>

        <div ng-repeat="article in $ctrl.profileList.articles" class="reed-current-list-item">
            <p class="reed-list-item-title">{{article.articleTitle}}</p>
            <p class="reed-list-item-description">{{article.articleDescription}}</p>
            <a target="_blank" class="reed-list-item-link reed-link" href="{{article.articleLink}}">Link <i class="icon ion-android-open"></i></a>

            <a ng-if="$ctrl.profileIsCurrentUser" ng-click="$ctrl.deleteArticle(article)"><i class="icon ion-ios-trash reed-list-item-remove"></i></a>
        </div>

    </div>

    <!-- If it's someone else profile -->
    <div ng-if="!$ctrl.profileIsCurrentUser" class="visitor-profile-view">


    </div>

</div>
