@font-face {
  font-family: 'ClearSans';
  src: url('assets/fonts/clearsans/ClearSans-Regular.ttf')  format('truetype')
}

body {
    margin: 0;
    padding:0;
    font-family: 'ClearSans';
    width: 400px;
}

#reedPopupHeader {
    font-size: 16px;
    padding-left: 17px;
}

.reed-popup-top-bar {
    border-bottom: 1px solid #EEE;
}

.reed-popup-body {
    padding-top:20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EEE;
}

.reed-popup-footer {
    width: 100%;
}

.reed-handle-scrape-button {
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    outline: none;
    cursor: pointer;
    width:50%;
    float: left;
    height: 50px;
    border: none;
    background-color: #FFF;
}

.reed-handle-scrape-button:hover {
    background-color: #434343;
    color: #FFF;
}

.reed-article-to-add-body {
    padding: 4px 4px 4px 4px;
}

.reed-article-top-body{
    position: relative;
    display: block;
    width: 400px;
    overflow: hidden;
}

#pageThumb {
    float: left;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border: 1px solid #EEE;
}

#pageTitle {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 700;
    padding-left: 10px;
    margin-top: 4px;;
    float: left;
    width: 300px;
}

#pageDescription {
    width: 360px;
    color: #888888;
    font-style: italic;
    text-align: left;
}


#reedAcceptScrapedContent {

}

#reedRejectScrapedContent {
    border-right: 1px solid #EEE;
    color: #888888;
}


#reedRejectScrapedContentIcon {
    /*color: #FA7676;*/

}

#reedAcceptScrapedContentIcon {
    /*color: #608969;*/
}
