/*******************/
/* General styles */
/*******************/
/* Vertical centering */
.outer {
    display: table;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

.banner-text {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 700px;
    display: block;
    margin: 0 auto;
}

.landing-paragraph {
    line-height: 1.7em;
    margin-bottom: 20px;
    text-align: left;
    font-size: 23px;
}
/*********************/
/* 1st banner styles */
/*********************/
#bannerOne {
    height: 90.2vh;
    width: 100%;
}

#landingHeader {
    font-size: 50px;
    text-align: left;
}

#bannerOneText {
    margin-top: -200px;
}

#bookIcon {
    pointer-events: none;
    height: 110px;
    width: 128.5px;
    display: block;
    margin: 0 auto;
    margin-bottom: -53px;
}

/*********************/
/* 2nd banner styles */
/*********************/
#bannerTwo {
    height: 100vh;
    width: 100%;
    color: #ffffff;
    background-color: #4E56EE;
}

/*********************/
/* 3rd banner styles */
/*********************/
#bannerThree {
    height: 100vh;
    width: 100%;
}

#icebergIcon {
    pointer-events: none;
    height: 110px;
    width: 126px;
    display: block;
    margin: 0 auto;
    margin-bottom: -68px;
}

/*********************/
/* 4th banner styles */
/*********************/
#bannerFour {
    height: 100vh;
    width: 100%;
    color: #ffffff;
    background-color: #4E56EE;
}

#chromeExtensionDeclaration {
    font-size: 35px;
}

#chromeExtensionDeclaration > span {
    font-size: 20px;
    color: #474747;
    display: inline-block;
    padding-left: 4px;
}

#chromeExtensionPOS {
    font-size: 19px;
}

.chrome-extension-definition-div {
    padding-bottom: 30px;
}

.chrome-extension-definition {
    display: inline;
    font-size: 20px;
}

.chrome-extension-definition-div > span {
    margin-top:6px;
    min-height: 60px;
    width: 30px;
    display: inline;
    float: left
}

#signupLandingButton {
    display: block;
    margin: 0 auto;
    margin-top:80px;
    text-transform: uppercase;
    height: 55px;
    width: 200px;
    font-size: 20px;
    border: 2px solid #FFF;
    background-color: transparent;
}

#signupLandingButton > i {
    padding-left: 5px;
}

#signupLandingButton:hover{
    background-color: #FFF;
    color: #4E56EE;
}

/*****************/
/* Mobile styles */
/*****************/
@media only screen and (max-width: 400px) {
    #bannerOne {
        height: 81vh;
    }

    #bannerOneText {
        margin-top: -150px;
    }
}

