<nav class="reed-nav navbar navbar-default">
    <div class="reed-nav-container-fluid container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="reed-brand navbar-brand" href="#">Reed</a>
        </div>


        <div class="collapse navbar-collapse reed-navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- <ul class="nav navbar-nav">
                <li><a href="#">Link</a></li>
            </ul> -->
            <ul class="nav navbar-nav navbar-right">
                <li><a class="reed-nav-link" ui-sref="dashboard">Feed</a></li>
                <li><a class="reed-nav-link" ui-sref="notifications">Notifications</a></li>
                <li><a class="reed-nav-link" ui-sref="profile({userId: $ctrl.handle})">Profile</a></li>
                <li><a class="reed-nav-link" ui-sref="search">Search</a></li>
                <li><a class="reed-nav-link" ui-sref="logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="notifications-view">

    <center>
        <p id="noNotificationsMessage" ng-if="$ctrl.followRequests.length === 0">No new notifications <i class="em em-raised_hands no-notifs-emoji"></i></p>
    </center>

    <div ng-if="$ctrl.followRequests.length > 0" class="reed-notification-panel">

        <h1 id="followRequestsHeader">Follow requests</h1>

        <div class="reed-follow-request-banner" ng-repeat="req in $ctrl.followRequests">
            <p class="reed-follow-request-username"> <i class="icon ion-android-person"></i> {{req.username}}</p>

            <div class="reed-follow-request-actions">
                <a ng-click="$ctrl.acceptFollowRequest(req)" class="reed-accept-follow-link" href="#"><i class="fa fa-check"></i></a>
                <a ng-click="$ctrl.ignoreFollowRequest(req)" class="reed-ignore-follow-link" href="#"><i class="fa fa-close"></i></a>

            </div>
        </div>
    </div>

</div>
