/*Remove */
.hide-chrome-autofill {
    opacity: 0;
    height: 0;
    width: 0;
}

/*Global styles*/
@font-face {
  font-family: 'Noway';
  src: url('assets/fonts/noway/noway-regular-webfont.eot');
  src: url('assets/fonts/noway/noway-regular-webfont.woff2') format('woff2'),
       url('assets/fonts/noway/noway-regular-webfont.woff') format('woff'),
       url('assets/fonts/noway/noway-regular-webfont.ttf')  format('truetype')
}

@font-face {
  font-family: 'ClearSans';
  src: url('assets/fonts/clearsans/ClearSans-Regular.ttf')  format('truetype')
}

.reed-app {
    background-color: #FFF;
}

body {
    font-family:'ClearSans';
    z-index: 1;
}

.reed-input {
    outline: none;
}

/*Nav styles*/

.reed-nav {
    background-color: #FFF;
    border: none;
}


@media only screen and (min-width: 768px) {
    .reed-nav-container-fluid {
        padding-right: 0;
    }
}

.reed-nav-link:hover {
    background-color:#4E56EE !important;
    color: #FFFFFF !important;
}

.reed-brand {
    font-size: 20px;
    color:#434343 !important;
}

/*Login state styles*/
.login-view {
    padding:30px 30px 30px 30px;
}

#loginButton {
    height: 40px;
    width: 100%;
    background-color: #FFF;
    border: solid 1px #CCCCCC;
    outline: none;
}

.signup-view {
    padding:30px 30px 30px 30px;
}

.auth-form {
    max-width: 400px;
    padding-top: 140px;
}

.login-input {
    width: 100%;
    height: 40px;
    padding-left: 4px;
    margin-bottom: 20px;
}

.login-input:focus {
    border: 1px solid  #4E56EE !important;
}

/*Signup*/
#signupButton {
    height: 40px;
    width: 100%;
    background-color: #FFF;
    border: solid 1px #CCCCCC;
    outline: none;
}


/*Dashboard styles*/


/*Search page styles*/
.search-view {
    padding: 40px;
}

#searchInput {
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear;

    color:#434343;
    height: 50px;
    width: 100%;
    outline:none;
    font-size:20px;
    padding-left: 10px;
}

#searchInput:focus {
    border: 1px solid #CCCCCC;
    border-left: 8px solid #4E56EE;
}

#searchInput::placeholder {
    color: #D7D7D7;
}

#noResultsMessage {
    font-size: 20px;
    padding-top:30px;
}

.search-results {
    padding-top:20px;
}

.search-results-banner   {
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear;
    width: 100%;
    cursor:pointer;
    border-left: 1px solid #f1f1f1;
    padding:13px 13px 13px 15px;
}

.search-results-banner:hover {
    background-color: #F5F5F5;
    border-left:5px solid #4E56EE;
}
