@import url('assets/css/ionicons.min.css');
@import url('app/states/login/login.css');
@import url('app/states/signup/signup.css');
@import url('app/states/search/search.css');
@import url('app/states/create/create.css');
@import url('app/states/profile/profile.css');
@import url('app/states/dashboard/dashboard.css');

/*Remove */
.hide-chrome-autofill {
    opacity: 0;
    height: 0;
    width: 0;
}

/*Global styles*/
@font-face {
  font-family: 'Noway';
  src: url('assets/fonts/noway/noway-regular-webfont.eot');
  src: url('assets/fonts/noway/noway-regular-webfont.woff2') format('woff2'),
       url('assets/fonts/noway/noway-regular-webfont.woff') format('woff'),
       url('assets/fonts/noway/noway-regular-webfont.ttf')  format('truetype')
}

@font-face {
  font-family: 'ClearSans';
  src: url('assets/fonts/clearsans/ClearSans-Regular.ttf')  format('truetype')
}

.reed-app {
    background-color: #FFF;
}

body {
    font-family:'ClearSans';
    z-index: 1;
}

.reed-input {
    outline: none;
}

.reed-banner {
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom: 20px;
    background-color: #F8F8F8;
}


.reed-btn {
	border: none;
	font-family: inherit;
	font-size: 10px;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 6px 10px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.reed-btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.reed-btn-heavy-click {
    border-radius: 0 0 5px 5px;
    background: #cb4e4e;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.reed-btn-heavy-click:hover {
    box-shadow: 0 8px #ab3c3c;
	top: -2px;
}


.reed-btn-heavy-click:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}


/*Nav styles*/

.reed-nav {
    background-color: #FFF;
    border: none;
}


@media only screen and (min-width: 768px) {
    .reed-nav-container-fluid {
        padding-right: 0;
    }
}

.reed-nav-link:hover {
    background-color:#4E56EE !important;
    color: #FFFFFF !important;
}

.reed-brand {
    font-size: 20px;
    color:#434343 !important;
}
